{:paths ["src"]
 :deps {town.lilac/flex {:local/root "../flex2"}
        town.lilac/dom {:local/root "../dom"}}
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {thheller/shadow-cljs {:mvn/version "LATEST"}}}}}
